<%= render 'navbar/navbar_home_index' %>
<div class="container" id="login-page-container">
  <div class="row justify-content-center">
    <div class ="col">
    </div>
    <div class="col">
      <div id="login-form-container">
        <div id="login-form-header">
          Please Login
        </div>
        <div id="login-form-body">
          <div id="login-form">
            <%= form_for :session, url: login_path do |f|  %>
              <span style="margin-top:2vh; display:block;"><%= f.email_field :email, placeholder: "email" %></span>
              <span style="margin-top:2vh; display:block;"><%= f.password_field :password, placeholder: "password" %></span>
              <span style="margin-top:2vh; display:block;"><%= f.submit "Login" %></span>
            <% end %></br>
          </div>
        </div></br>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class ="col">
    </div>
    <div class="col" style=" width:7vw;">
      <div id="login-page-sign-up-button" onclick="window.location = `/users/new`;">
        Sign Up!
      </div>
    </div>
    <div class ="col">
    </div>
  </div>
</div>
