<%= render 'navbar/navbar_home_index' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
    </div>
    <div class ="col">
      <div id="signup-form-container">
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
            <div id="singup-form">
              <div id="signup-form-header">
                Please Enter Info
              </div>
              <div id="signup-form-body">
                <%= form_for @user do |f| %>
                 <span class="signup-form-input"><%= f.email_field :email, placeholder: "Email" %></span>
                 <span class="signup-form-input"><%= f.text_field :first_name, placeholder: "First Name" %></span>
                 <span class="signup-form-input"><%= f.text_field :last_name, placeholder: "Last Name" %></span>
                 <span class="signup-form-input"><%= f.text_field :zip_code, placeholder: "Zip Code" %></span>
                 <span class="signup-form-input"><%= f.password_field :password, placeholder: "Password" %></span>
                 <span class="signup-form-input"><%= f.password_field :password_confirmation, placeholder: "Confirm Password" %></span>
                 <div id="signup-form-submit">
                   <%= f.submit "Submit New Account" %>
                 </div>
               <% end %></br>
              </div>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
